<header id="search-modal">
    <form>
        <ul class="search-inputs">
            <li><input type="search" placeholder="Lorem Ipsum Dolor"></li>
            <li><input type="submit" value="GO"></li>
        </ul>
    </form>

    <button class="close">X</button>
</header>