
.title {
    text-align: center;
}

/* clock */

.clock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    margin: 0 auto 0 auto;
    width: 600px;
    height: 100px;
    border: 1px solid black;
    font-family: 'Alatsi', sans-serif;
    font-size: 40px;
    color: white;
    background-color: #3377ff;
}

.clock > * {
    display: flex;
    justify-content: space-between;
}

.clock p {
    margin: 0 15px 0 15px;
}

/* tabs */

.tabs {
    width: 600px;
    height: 600px;
    margin: 0 auto 0 auto;
}

.tab-titles {
    display: table;
    table-layout: fixed;
}

.tab-titles button {
    display: table-cell;
    border: 1px solid black;
    margin-right: -2px;
    background-color: #ccb3ff;
    border-bottom: 1px solid black;
    border-radius: 10px 10px 0 0;
    font-family: 'Alatsi', san-serif;
    font-size: 20px;
    padding: 5px 20px 0 20px;
}

.tab-titles button:hover {
    color: white;
    background-color: black;
    font-weight: bold;
    cursor: pointer;
}

.tab-titles button:focus {
    border-bottom: 1px solid #ccb3ff;
    outline: none;
}

.tab-body {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-top: -1px;
    background-color: #ccb3ff;
    width: 600px;
    height: 100px;
    font-family: 'Alatsi', san-serif;
    font-size: 20px;
    color: white;
}